h2{
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.hide{
    
    /* display: inline; */
   
 
    text-align: center;
}

.gallery__img:hover +.hide{
  opacity: 1;
}

.gallery__img {
    width : 200px;
    box-shadow: 0 0 5px grey;
    margin-bottom: 12px;

}

.gallery{
    border-top: 40px solid #f8f9fa;
    border-left: 35px solid #f8f9fa;
    border-right: 35px solid #f8f9fa;
    border-bottom: 40px solid #f8f9fa;
    background-color: #f8f9fa;
}



.gallery{
    text-align: center;
    position: relative;
    cursor: pointer;
    perspective: 500px; 
    
}

.movie__genres{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 12px;
}

.movie__genres__detail{
    margin-right: 4px;
    text-transform: uppercase;
    
}

/* .gallery .detail{
    width: 70%;
	height: 80%;	
	padding: 5% 8%;
    position: absolute;
    content: "";
    top: 50%;
	left: 50%;
    transform: translate(-50%, -50%) rotateY(90deg);
	transform-origin: 50%;
	background: rgba(255,255,255,0.9);	
	opacity: 0;
	transition: all 0.4s ease-in;
}

.gallery:hover .detail {
	transform: translate(-50%, -50%) rotateY(0deg);
	opacity: 1;
} */
